.fella-code-block .line {
    padding: 0 20px;
}

.fella-code-block {
    counter-reset: line;
    border-radius: 6px;
    background-color: var(--fella-bg-secondary);
    padding: 20px 0;
    border: 1px solid var(--fella-border-plain);
    margin: 20px 0;
    overflow-y: scroll;
}

.fella-code-block .line::before {
    content: counter(line) /"";
    counter-increment: line;
    width: 16px;
    font-size: 13px;
    color: var(--fella-text-tertiary);
    font-family: Iosevka, monospace;
    text-align: right;
    margin-right: 20px;
    display: inline-block;
}

.fella-code-block .line {
    line-height: 20px;
}

.hljs-keyword {
    color: rgb(249, 117, 131);
}

.hljs-name, .hljs-number {
    color: rgb(121, 184, 255);
}

.hljs-title.class_ {
    color: rgb(133, 232, 157);
}

.hljs-attr, .hljs-variable:not(.constant_), .hljs-property, .hljs-title.function_ {
    color: rgb(179, 146, 240);
}

.hljs-string {
    color: rgb(158, 203, 255);
}

.fella-code-block-titled {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
    margin-top: 0;
}

.fella-code-block-header {
    margin-top: 20px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border: 1px solid var(--fella-border-plain);
    padding: 0 12px 0 16px;
    background-color: var(--fella-bg-main);
    display: flex;
    height: 48px;
    align-items: center;
    color: var(--fella-text-secondary);
    font-size: 13px;
}

.fella-code-block-multilanguage .fella-code-block-language:not(.fella-code-block-selected), .fella-code-block-multilanguage .fella-code-block-filename:not(.fella-code-block-selected) {
    display: none;
}

.fella-code-block-header {
    display: grid;
    grid-template-columns: 1fr max-content;
}

.fella-code-block-selector {
    border: none;
    border-radius: 5px;
    font-size: 13px;
    display: flex;
    padding: 0 30px 0 8px;
    align-items: center;
    line-height: 1;
    transition: background-color .2s,color .2s;
    cursor: pointer;
    color: var(--fella-text-secondary);
    white-space: nowrap;
    background-color: var(--fella-bg-main);
    height: 32px;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' style='stroke-linecap:round;stroke-linejoin:round;'><path d='M6,9L12,15L18,9' style='fill:transparent;stroke:hsl(0,0%,63%);stroke-width:1.5px;'/></svg>");
    background-repeat: no-repeat;
    background-position: calc(100% - 8px) center !important;
    background-size: 18px;
    -moz-appearance:none !important;
    -webkit-appearance: none !important;
    appearance: none !important;
}

.fella-code-block-selector:hover, .fella-code-block-selector:focus {
    background-color: var(--fella-bg-secondary-dim);
}

.fella-code-block-copy {
    float: right;
    margin-right: 16px;
    margin-top: -70px;
    background-color: var(--fella-bg-main);
    border-radius: 5px;
    transition: opacity .1s,background-color .2s;
    border: 1px solid var(--fella-border-bold);
    height: 32px;
    width: 32px;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--fella-text-secondary);
    opacity: 0;
}

.fella-code-block-language:hover .fella-code-block-copy {
    opacity: 1;
}

.fella-code-block-copy svg {
    width: 16px;
    height: 16px;
}

.fella-code-block-copy:hover {
    background-color: var(--fella-bg-secondary-dim);
}

.fella-code-block-copy-container {
    position: absolute;
}