.fella-header {
    height: max-content;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 9;
    text-align: center;
    justify-content: center;
    min-height: 48px;
}

.fella-header-btn {
    height: 32px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    margin-left: 10px;
}
