.fella-sidebar {
    display: none;
}

.fella-sidebar-show .fella-sidebar {
    display: block;
    width: 456px;
    position: fixed;
    top: 64px;
    left: 0;
    bottom: 0;
    background-color: var(--fella-bg-main);
    border-right: 1px solid var(--fella-border-dim);
    z-index: 5;
    overflow: auto;
}

.fella-sidebar-show .fella-sidebar-next {
    margin-left: 456px;
}

.fella-sidebar-next .fella-container {
    max-width: 920px;
}

.fella-sidebar-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.fella-sidebar-menu-heading, .fella-sidebar-menu-item {
    margin: 0 20px;
    height: 35px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.fella-sidebar-menu {
    margin-top: 20px;
    margin-bottom: 50px;
}

.fella-sidebar-menu-heading {
    color: var(--fella-text-secondary);
    margin-top: 20px;
}

.fella-sidebar-menu-item {
    color: var(--fella-text-main);
    text-decoration: none;
    background-color: transparent;
    border-radius: 7px;
}

.fella-sidebar-menu-item:hover, .fella-sidebar-menu-item.fella-sidebar-menu-item-active {
    background-color: var(--fella-bg-secondary-dim);
}

.fella-sidebar-menu-item.fella-sidebar-menu-item-active {
    pointer-events: none;
}

.fella-sidebar-submenu .fella-sidebar-menu-item {
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.fella-sidebar-button {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 16px;
    left: 16px;
    opacity: .75;
    background-color: var(--fella-bg-main);
    border-radius: 999px;
    cursor: pointer;
    z-index: 10;
}

.fella-sidebar-button:hover {
    opacity: .95;
}

.fella-sidebar-button-hide {
    display: none;
}

.fella-sidebar-show .fella-sidebar-button-hide {
    display: initial;
}

.fella-sidebar-show .fella-sidebar-button-show {
    display: none;
}

.fella-sidebar-submenu > li {
    margin-left: 38px;
    padding-left: 0;
    border-left: 2px solid var(--fella-border);
}