.fella-btn-secondary {
    box-shadow: 0 0 0 1px var(--fella-border);
    color: var(--fella-text-main);
    background-color: var(--fella-bg-secondary);
}

.fella-btn {
    transition-property: border-color, background-color, color, transform, box-shadow;
    transition-duration: .15s;
    transition-timing-function: ease;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 32px;
    padding-left: 12px;
    padding-right: 12px;
}

.fella-btn-large {
    padding-left: 20px;
    padding-right: 20px;
    height: 48px;
    font-size: 16px;
}

.fella-btn-flush {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.fella-btn-round {
    border-radius: 9999px;
    width: 24px;
    padding-left: 4px;
    padding-right: 4px;
}

.fella-btn-secondary:hover {
    background-color: var(--fella-bg-secondary-dim);
}

.fella-btn-primary {
    background-color: var(--fella-text-main);
    color: var(--fella-bg-secondary);
}

.fella-btn-primary:hover {
    background-color: var(--fella-text-dim);
}

.fella-btn-cta {
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 999px;
    height: 48px;
    font-size: 16px;
}

.fella-btn-cta-small {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 999px;
    height: 40px;
    font-size: .875rem;
}

.fella-btn-cta-text {
    padding-left: 6px;
    padding-right: 6px;
    word-wrap: unset;
    word-break: manual;
    white-space: nowrap;
}

.fella-btn-cta-icon {
    margin-right: 2px;
    width: 20px;
}

.fella-btn[disabled], .fella-btn.disabled {
    opacity: .75;
    pointer-events: none;
}
