@media (max-width: 900px) {
    body:has(.fella-nav-mobile-open) {
        overflow: hidden;
    }

    .fella-nav-mobile {
        display: flex;
    }

    .fella-nav-desktop {
        display: flex;
        pointer-events: none;
        overflow-x: auto;
        top: -40px;
        left: 0;
        right: 0;
        bottom: 0;
        height: auto;
        opacity: 0;
        transition: box-shadow 350ms cubic-bezier(.4, 0, .2, 1), top 350ms cubic-bezier(.4, 0, .2, 1), opacity 350ms cubic-bezier(.4, 0, .2, 1);
    }

    .fella-nav-hamburger-container {
        color: hsl(0, 0%, 63%);
    }

    .fella-nav-hamburger-open {
        display: none;
    }

    body:has(.fella-nav.fella-nav-mobile-open) .fella-nav-hamburger-open {
        display: initial;
    }

    body:has(.fella-nav.fella-nav-mobile-open) .fella-nav-hamburger-closed {
        display: none;
    }

    body:has(.fella-nav.fella-nav-mobile-open) .fella-nav-desktop {
        pointer-events: initial;
        top: 64px;
        opacity: 1;
    }

    .fella-nav-desktop .fella-nav-inner {
        margin-top: 10px;
        height: auto;
        display: flex;
        flex-flow: row-reverse wrap-reverse;
        align-items: start;
    }

    .fella-nav-category {
        margin-top: 10px;
        height: auto !important;
        width: 100% !important;
        border-radius: 0;
        border: none;
        background-color: transparent;
    }

    .fella-nav-category-outer {
        position: initial;
        opacity: 1;
        pointer-events: inherit;
        padding: 0;
    }

    .fella-nav-category-base {
        position: initial;
        opacity: 1;
        pointer-events: inherit;
        margin-left: 0;
        width: 100%;
        display: block;
    }

    .fella-nav-desktop .fella-nav-left {
        display: block;
        width: 100%;
        margin: 0 -12px;
    }

    .fella-nav-desktop .fella-nav-right .fella-btn {
        width: 100%;
        height: 40px;
        padding: 0 10px;
    }

    .fella-nav-desktop .fella-nav-right {
        justify-content: center !important;
    }

    .fella-nav-desktop .fella-nav-icon, .fella-nav-desktop .fella-nav-icon-outer {
        display: none;
    }

    .fella-nav-category-indicator {
        display: none;
    }

    .fella-nav-navigation-item {
        flex-basis: 100%;
    }

    .fella-nav-desktop .fella-nav-left, .fella-nav-desktop .fella-nav-right {
        height: auto;
    }

    .fella-nav-desktop .fella-nav-right {
        flex-flow: row-reverse wrap-reverse;
    }

    .fella-nav-category-section, .fella-nav-items {
        padding: 12px 0 !important;
        flex-basis: 100%;
        width: 100%;
    }

    .fella-nav-items {
        flex-flow: row wrap;
        padding: 0;
        margin: 0;
    }

    .fella-nav-category-section-header, .fella-nav-category-section-item-text-title, .fella-nav-navigation-item {
        font-size: initial;
        font-weight: inherit;
    }

    .fella-nav-category-section, .fella-nav-items {
        border-top: 1px solid hsl(0, 0%, 12%);
    }

    .fella-nav-category-section-item, .fella-nav-navigation-item {
        color: hsl(0, 0%, 63%);
    }

    .fella-nav-category-section-item-text-title {
        color: inherit;
        margin-bottom: 0;
    }

    .fella-nav-category-section-item-text-description {
        display: none;
    }

    .fella-nav-category-section-item, .fella-nav-navigation-item {
        padding: 0;
        gap: 8px;
    }

    .fella-nav-category-section-header, .fella-nav-navigation-item {
        padding-left: 0;
        padding-right: 0;
    }

    .fella-nav-navigation-item {
        display: flex;
        align-items: center;
    }

    .fella-nav-navigation-item.fella-nav-navigation-item-with-category {
        display: none;
    }

    .fella-nav-category-section-item-icon-container {
        background-color: transparent;
        border: none;
    }

    .fella-nav-category-base:nth-child(1) .fella-nav-category-section:nth-child(1) {
        border: none;
    }

    .fella-nav-category-section-header, .fella-nav-category-section-item, .fella-nav-navigation-item {
        height: 48px;
        padding: 0 12px;
    }

    .fella-nav-category-section-item:hover .fella-nav-category-section-item-icon-container {
        color: inherit;
        background: initial;
    }

    .fella-nav-category-section-item-icon-container {
        width: max-content;
        height: max-content;
    }

    .fella-nav-category-section-item:hover, .fella-nav-navigation-item:hover {
        color: hsl(0, 0%, 93%);
        background-color: hsl(0, 0%, 10%);
    }

    .fella-nav-category-section-item, .fella-nav-navigation-item {
        transition: color 150ms ease, background-color 150ms ease;
        border-radius: 6px;
    }
}
